body {
	background-image: url('download.jpg')
}

#Header {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	border: solid 8px black;
	background-color: purple;
}

h1,h2,h3{
	color : #FFBC00;
	font-size: 20px;
	font-family: "Passion One";
}

#LeftNav {
	float: left;
	width: 400px;
	border: solid 8px black;
	text-align: center;
	background-color: purple;
}

p {
	color: white;
	font-family: "Aral";
	font-weight: bold;
}

#Content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	border: solid 8px black;
	text-align: center;
	background-color:purple;
	padding: 15px;


}